Hi <%= @notified_user.name %>,

<%= @creating_user.name %> has <%= @verb %> <%= number_to_currency(@amount) %> <%= @to %> you for <%= h(@description) %>.  You can see this transaction on your dashboard at <a href="<%= @url %>">Nomtracker</a>.

-Nomtracker

