- content_for :head do
  = javascript_include_tag "account"
  
- content_for :breadcrumb do
  My Account

#email_addresses_messages
  - if flash[:success]
    .success.rounded= flash[:success]

%h1 Email Addresses
#email_addresses
#new_email_address{:style => 'display: none;margin-left: 40px'}
  = text_field_tag 'email', ''
  = submit_tag 'Add', :id => 'add_email_button'
.content
  %p
    = link_to 'Add Another', 'javascript:void(0)', :id => 'add_another_email_link'
    

%h1 Preferences

#preferences.content
  %p
    - form_tag(update_preferences_account_path) do
      %p
        = hidden_field_tag 'hidden_wants_to_be_notified', '0', :name => 'wants_to_be_notified'
        = check_box_tag 'wants_to_be_notified', '1', current_user.wants_to_be_notified
        = label_tag 'wants_to_be_notified', "Send me an email when a new debt/credit is assigned to me"
      
      %p
        = submit_tag 'Save Preferences', :style => "width: 200px;"

:javascript
  Event.observe(window, 'load', function() {
    redrawEmails(#{@email_json})
    updateNomworth(#{current_user.nomworth}, #{current_user.balances.select(){|b| b[:balance] > 0}.size}, #{current_user.balances.select(){|b| b[:balance] < 0}.size});
  });