- content_for :head do
  = javascript_include_tag "account"
  
- content_for :breadcrumb do
  My Account

%h1 Email Addresses
#email_addresses
#new_email_address{:style => 'display: none;'}
  = text_field_tag 'email', ''
  = submit_tag 'Add', :onclick => 'alert("not implemented");'
= link_to 'Add Another', 'javascript:void(0)', :id => 'add_another_email_link'
    

%h1 Preferences
#preferences
  .informational Not implemented
  = check_box_tag 'user', 'send_emails_on_new_transactions', {}, :disabled => true
  = label 'user', 'send_emails_on_new_transactions', "Send me an email when a new debt/credit is assigned to me"
  %br
  = check_box_tag 'user', 'auto_accept_debts', {}, :disabled => true
  = label 'user', 'auto_accept_debts', "Automatically accept all credits/debts from people with whom I've previously had a transaction"
  %br 
  = check_box_tag 'user', 'rss_enabled', {}, :disabled => true
  = label 'user', 'rss_enabled', "Enable my RSS feed for debts/credits assigned to me"
  = text_field_tag 'rssurl', '', :style => 'width: 98%;', :value => 'http://nomtracker.com/rss/1634/asdf23rawfraw4fa34fa34ga3g4ha3g5hag5mah4gjhagjha4jg5hj4agh', :disabled => true

:javascript
  Event.observe(window, 'load', function() {
    var link = $('add_another_email_link');
    link.observe('click', function(evt) {
      this.hide();
      $('new_email_address').show();
      $('email').focus();
    }.bind(link));
    
    redrawEmails([{address: 'yflicker@slsdev.net', verified: true}, {address: 'jtrupiano@slsdev.net', verified: false}]);
  });

  