- remote_form_for Transaction.new, {:success => 'finishCreateTransaction(request)', :failure => 'failCreateTransaction(request)'} do |f|
  = text_field_tag 'email', nil, :style => 'width:10em'
  #autocomplete_choices.autocomplete
  
  = radio_button_tag 'transaction_type', 'credit'
  = label_tag 'transaction_type_credit', 'borrowed', :class => 'credit'
  
  = radio_button_tag 'transaction_type', 'debt'
  = label_tag 'transaction_type_debt', 'lent me', :class => 'debt'
  
  = f.text_field :amount, :style => 'width: 3em;'
  on
  = f.text_field :when, :style => 'width: 6em;'
  for
  = f.text_field :description, :style => 'width:10.8em;'

  = f.submit "Continue"

- javascript_tag do
  new Ajax.JsonAutocompleter('email', 'autocomplete_choices', '/users/find', { paramName: 'email', });
  