- @user = current_user
%h3 manage

%h4 debts
%strong who do you owe?

%table 
  %tr 
    %th name
    %th qty
    %th 

  - @user.debts.each do |trn|
    %tr 
      %td= trn.creditor.email
      %td= trn.amount
      %td= link_to_function "PAY", nil

%h4 credits
%strong who owes you?

%table 
  %tr 
    %th name
    %th qty
    %th 

  - @user.credits.each do |trn|
    %tr 
      %td= trn.debtor.email
      %td= trn.amount
      %td= link_to_function "REQUEST PAYMENT", nil
