%h3 manage

%h4 debts
%strong who do you owe?

%table 
  %tr 
    %th date
    %th user
    %th amount
    %th 

  - user.debts.each do |trn|
    %tr 
      %td= time_ago_in_words(trn.created_at) + " ago"
      %td= trn.creditor.email
      %td= number_to_currency trn.amount
      %td= link_to_function "Mark as Paid", nil

%h4 credits
%strong who owes you?

%table 
  %tr 
    %th date
    %th user
    %th amount
    %th 

  - user.credits.each do |trn|
    %tr 
      %td= time_ago_in_words(trn.created_at) + " ago"
      %td= trn.debtor.email
      %td= number_to_currency trn.amount
      %td= link_to_function "Poke User", nil
