- content_for :head do
  = javascript_include_tag "json_autocompleter"
  = javascript_include_tag 'dashboard'

- content_for :breadcrumb do
  My Dashboard

.main
  %p#welcome_message 
    = "Welcome to nomtracker."

  %h1 Add new credits and debts
  %div
    #new_transaction_flash
    = link_to("#{image_tag('plus.gif', :alt => 'plus symbol')} Add a new debt or credit", "javascript:void(0)", :onclick => 'openNewTransactionForm()', :id => 'open_transaction_form_link')
  #add_new_transaction{:style => "display: none"}
    = render :partial => 'add_debt'

  %h1#balances Balances
  %div 
    #balances_messages
    = render :partial => 'balances', :locals => {:user => current_user}
    
  %h1#recent_transactions Recent Transactions
  %div
    = render :partial => 'transactions/recent', :locals => {:user => current_user, :transactions => current_user.transactions.sorted.find(:all, :limit => 5)}
    %p= link_to "View all Transactions", transactions_path
    
:javascript
  Event.observe(window, 'load', function() {
    updateNomworth(#{current_user.nomworth});
  });
  