.main
  %p#welcome_message 
    = "Welcome to nomtracker.  #{nomworth(current_user)}"

  %h1 Add new credits and debts
  %div
    #new_transaction_flash
    = link_to("#{image_tag('plus.gif', :alt => 'plus symbol')} Add a new debt or credit", "#", :onclick => 'openNewTransactionForm()', :id => 'open_transaction_form_link')
  #add_new_transaction{:style => "display: none"}
    = render :partial => 'add_debt'

  %h1#pending Pending
  = render :partial => 'pending_report', :locals => {:user => current_user}
			
  %hr.space

  %h1#credits Credits
  %p $ others owe to you
  = render :partial => 'credit_report', :locals => {:user => current_user}
  
  %h1#debts Debts
  %p $ you owe
  = render :partial => 'debt_report', :locals => {:user => current_user}
