= error_messages_for :user, :header_message => nil, :message => nil, :class => 'error rounded'

- @user.password = @user.password_confirmation = nil
.wide_content_bubble.content_bubble
  - form_for :user, :url => users_path do |f|
    %div{:style => "width: 50%; float: left;"}
      .form_row{:style => "margin-top: 20px;"}
        = f.label 'name', nil, :style => "display: inline-block;width: 138px;"
        = f.text_field :name

      .form_row
        = label_tag 'user[email]', "Email", :style => "display: inline-block;width: 138px;"
        = text_field_tag 'user[email]', @preset_email, :id => 'user_email'
    
      .form_row
        = f.label 'password', nil, :style => "display: inline-block;width: 138px;"
        = f.password_field :password

      .form_row
        = f.label 'password_confirmation', 'Confirm Password', :style => "display: inline-block;width: 138px;"
        = f.password_field :password_confirmation
    
    %div{:style => "width: 49%;float: right;"}      
      %p
        NomTracker is not responsible for people not paying you back blah blah blah, nom nom nom...
      %div{:style => "width: 100%;text-align:center"}
        = submit_tag 'Sign Up', :style => "margin: 20px 0;"
      
%div{:style => "clear: both;"}