- remote_form_for Transaction.new, {:success => 'finishCreateTransaction(request)', :failure => 'failCreateTransaction(request)'} do |f|
  = text_field_tag 'email', nil, :style => 'width:10em'
  #autocomplete_choices.autocomplete
  
  = radio_button_tag 'transaction_type', 'credit'
  = label_tag 'transaction_type_credit', 'borrowed', :class => 'credit'
  
  = radio_button_tag 'transaction_type', 'debt'
  = label_tag 'transaction_type_debt', 'lent me', :class => 'debt'
  
  = f.text_field :amount, :style => 'width: 3em;'
  on
  = f.text_field :when, :style => 'width: 6em;'
  for
  = f.text_field :description, :style => 'width:10.8em;'

  / <a href="#" onclick="closeNewTransactionForm()"><img src="redex.gif" alt="remove this" title="Remove this transaction" /></a><br />
  / <a href="#" style="float:left;" onclick="addAnotherTransaction()"><img src="plus.gif" alt="plus symbol" /> Add another</a>
  / <a href="#" id="post_transaction_form_link" style="float:right;" onclick="numberOfTransactions == 1 ? (showhide('successfultransaction', 1) + showhide('successfultransactions', 2)) : (showhide('successfultransactions', 1) + showhide('successfultransaction', 2))">Save this transaction</a>
  
  = f.submit "Continue"

- javascript_tag do
  new Ajax.JsonAutocompleter('email', 'autocomplete_choices', '/users/find', { paramName: 'email', });
  