- content_for :head do
  = javascript_include_tag 'dashboard'

- content_for :breadcrumb do
  My Dashboard

.main
  %p#welcome_message 
    = "Welcome to nomtracker.  #{nomworth(current_user)}"

  %h1 Add new credits and debts
  %div
    #new_transaction_flash
    = link_to("#{image_tag('plus.gif', :alt => 'plus symbol')} Add a new debt or credit", "javascript:void(0)", :onclick => 'openNewTransactionForm()', :id => 'open_transaction_form_link')
  #add_new_transaction{:style => "display: none"}
    = render :partial => 'add_debt'

  %h1#balances Balances
  %div 
    %p Your nonzero balances by individual
    = render :partial => 'balances', :locals => {:user => current_user}
    %p= link_to "View all Transactions", transactions_path