!!!

%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Starts:
      = controller.action_name

    = stylesheet_link_tag 'blueprint/screen'
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie'
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'nomtracker'

  %body
    %p#flash
      = flash[:notice]

    .container
      .span-24
        .span-11.box
          %h1
            welcome to nomtracker
        .span-11.box.last
          == Hello #{current_user.login}
          %ul
            %li= link_to "logout", logout_url, :method => :destroy

      %hr.space

      .span-24.prepend-1.append-1  
        %h3 history


      .span-24.prepend-1.append-1  
        %h3 track
        
        %h4 debt
        = render :partial => 'add_debt'

        %h4 meal
        = render :partial => 'add_meal'

      .span-24.prepend-1.append-1   
        - if logged_in?
          = render :partial => 'report'         

