- content_for :head do
  = javascript_include_tag "json_autocompleter"
  = javascript_include_tag 'dashboard'

- content_for :breadcrumb do
  My Dashboard

.main
  %h1 Add a new debt or credit    
  
  %div.content
    #add_new_transaction
      - remote_form_for Transaction.new, {:success => 'finishCreateTransaction(request)', :failure => 'failCreateTransaction(request)'} do |f|
      
        .form_row
          = f.label :email, nil, :style => "display: inline-block;width: 90px;"
          = text_field_tag 'email', nil, :style => "width: 340px;"
          #autocomplete_choices.autocomplete        

        .form_row
          = radio_button_tag 'transaction_type', 'credit'
          = label_tag 'transaction_type_credit', 'Borrowed', :style => "display: inline-block; width: 100px;"

          = radio_button_tag 'transaction_type', 'debt'
          = label_tag 'transaction_type_debt', 'Lent me', :style => "display: inline-block; width: 100px;"

          = f.label :amount, "Amount", :style => "display: inline-block; width: 70px;"
          %span{:style => "font-size: 20px;"}$
          = f.text_field :amount, :style => "width: 100px"        

        .form_row
          = f.label :description, nil, :style => "display: inline-block;width: 90px;"
          = f.text_field :description, :style => "width: 340px;"

        = f.submit "Enter Transaction"          

      - javascript_tag do
        new Ajax.JsonAutocompleter('email', 'autocomplete_choices', '/users/find', { paramName: 'email', });
    
    %img{:src => "images/baby_nom_image.png", :style => "float: right;margin-top: 20px"}

  %h1#balances Balances
  %div.content
    #balances_messages
    = render :partial => 'balances', :locals => {:user => current_user}
    %p{:style => "margin-left: 20px;"}= link_to "View all Transactions", transactions_path
    
:javascript
  Event.observe(window, 'load', function() {
    updateNomworth(#{current_user.nomworth});
  });