#credit_report
  - if user.credits.count > 0
    %table#tbl_credits
      %tr 
        %th Date
        %th Creditor
        %th Amt
        %th Description
        %th Actions

      - user.credits.each do |trn|
        %tr 
          %td= time_ago_in_words(trn.created_at) + " ago"
          %td= h(trn.debtor.primary_email.address)
          %td.credit= number_to_currency trn.amount
          %td Description goes here
          %td.utility_links
            = link_to "mark as settled", "#", :onclick => 'alert("Not implemented");'
            or
            = link_to "nag this person", "#", :onclick => 'alert("Not implemented");'
  - else
    %p#no_credits You do not have any credits.