#recent_transactions_report
  - if transactions.size > 0
    %table#tbl_recent_transactions
      %tr 
        %th{:style => "width: 20%"} Date
        %th{:style => "text-align: right;width: 30%"} Transaction
        %th Amount
        %th{:width => '50%'} Description
      - transactions.each do |txn|
        - transaction_type = txn.amount >= 0 ? "credit" : "debt"
        %tr 
          %td= txn.created_at.strftime("%a %b %e, %l%p")
          %td{:style => "text-align: right;"}= to_sentence(txn)
          - if txn.amount >= 0
            %td.credit= number_to_currency(txn.amount)
          - else
            %td.debt= number_to_currency(-1 * txn.amount)
          %td= full_description(txn)
  - else
    %p#no_recent_transactions You do not have any recent transactions.
