<h1>Listing transactions</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
  </tr>

<% for transaction in @transactions %>
  <tr>
    <td><%=h transaction.creditor.login %></td>
    <td><%=h transaction.debtor.login %></td>
    <td><%=h transaction.amount %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>
