<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title= yield(:title) || 'nomtracker'
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'nomtracker'
    = yield(:head)
  %body
    #header
      #account_links
        - if logged_in?
          = link_to "My Account", account_url, :accesskey => "a"
          |
          = link_to "Logout", logout_path, :accesskey => "l"
        - else
          = link_to "Sign Up", new_user_path
          |
          = link_to "Log In", login_path, :accesskey => "l"
      %br{:style => 'clear: both;'}
      
      %a{:href => root_path}
        %img{:src => "images/nomtracker_header.png"}
      
      - if logged_in?
        %div#status
          %div#nomworth.rounded
          %div#owing.rounded
          %div#owed.rounded
          
      %br{:style => "clear: both;"}
      
    - if flash[:notice]
      .success= flash[:notice]
    = yield
    #footer
      &copy; 2009 All Rights Reserved.
      = link_to 'SmartLogic Solutions', 'http://www.smartlogicsolutions.com/'
      |
      = link_to 'About', '/about.htm'
      |
      = link_to 'Privacy', '#', :onclick => 'alert("Where?");'
      |
      = link_to 'TOS', '#', :onclick => 'alert("Where?");'

    - if( RAILS_ENV == 'production')
      :javascript 
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript      
        try {
          var pageTracker = _gat._getTracker("UA-15335872-1");
          pageTracker._trackPageview();
        } catch(err) {}
